////////////////////
////// COLORS //////
////////////////////

// Based on http://clrs.cc/
$aqua = #7fdbff
$blue = #0074d9
$navy = #001f3f
$teal = #39cccc
$green = #2ecc40
$olive = #3d9970
$lime = #01ff70
$yellow = #ffdc00
$orange = #ff851b
$red = #ff4136
$magenta = #f012be
$fuchsia = #f012be
$purple = #b10dc9
$maroon = #85144b
$purewhite = white
$white = #fafafa
$silver = #dddddd
$gray = #aaaaaa
$black = #111111
$pureblack = black
$raspberry = #ff3366
$oceanblue = #12afbb
$oceanblue-light = #d1e9eb

// Flat UI Colors - http://flatuicolors.com/
$flat-turquoise = #1abc9c
$flat-greensea = #16a085
$flat-emerald = #2ecc71
$flat-nephritis = #27ae60
$flat-river = #3498db
$flat-belize = #2980b9
$flat-amethyst = #9b59b6
$flat-westeria = #8e44ad
$flat-asphalt = #34495e
$flat-midnight = #2c3e50
$flat-yellow = #f1c40f
$flat-orange = #f39c12
$flat-carrot = #e67e22
$flat-pumpkin = #d35400
$flat-alizarin = #e74c3c
$flat-pomegranate = #c0392b
$flat-clouds = #ecf0f1
$flat-silver = #bdc3c7
$flat-concrete = #95a5a6
$flat-asbestos = #7f8c8d