doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/core.min.css')

  body
    .wrapper 
      h1 Hello World

      p Welcome to Core.

    script(src='assets/js/scripts.min.js')