////////////////////
/////// MAIN ///////
////////////////////

.wrapper
  max-width: $pagewidth
  center()

.no-display
  display: none !important

.not-visible 
  visibility: hidden

.is-visible 
  visibility: visible

.left
  float: left
  
.right
  float: right